<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiCamion2"
        tools:targetApi="31">
        <activity
            android:name=".HistoryTripsDetailed"
            android:exported="false" />
        <activity
            android:name=".HistoryView"
            android:exported="false" />
        <activity
            android:name=".ProfileDriver"
            android:exported="false" />
        <activity
            android:name=".ServicesDriver"
            android:exported="false" />
        <activity
            android:name=".TruckCompleteDetails"
            android:exported="false" />
        <activity
            android:name=".ProfileTruckOwner"
            android:exported="false" />
        <activity
            android:name=".CreateTruckDate"
            android:exported="false" />
        <activity
            android:name=".CreateTruckLocation"
            android:exported="false" />
        <activity
            android:name=".CreateTruckDetails"
            android:exported="false" />
        <activity
            android:name=".TrucksView"
            android:exported="false" />
        <activity
            android:name=".ManageTrucks"
            android:exported="false" />
        <activity
            android:name=".ServicesTruckOwner"
            android:exported="false" />
        <activity
            android:name=".ProfileView"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.MiCamion2" />
        <activity
            android:name=".LoadCompleteDetailsView"
            android:exported="false" />
        <activity
            android:name=".CreateLoadDateView"
            android:exported="false" />
        <activity
            android:name=".CreateLoadDestinationView"
            android:exported="false" />
        <activity
            android:name=".CreateLoadDetailsView"
            android:exported="false" />
        <activity
            android:name=".SendView"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".OriginMap"
            android:exported="false"
            android:label="@string/title_activity_func_af" />
        <activity
            android:name=".DestinationMap"
            android:exported="false"
            android:label="@string/title_activity_func_af" />
        <activity
            android:name=".ServicesCompanyPersona"
            android:exported="false" />
        <activity
            android:name=".LikeToDo"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordView"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>